/* stylelint-disable */

.grid {
	letter-spacing: -0.31em;
	*letter-spacing: normal;
	*word-spacing: -0.43em;
	text-rendering: optimizespeed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-flow: row wrap;
	-ms-flex-line-pack: start;
	align-content: flex-start;
}

.gutter-grid {
	margin: -25px;
}

.gutter-grid > [class^="w-"] {
	padding: 25px;
}

.gutter-grid-sm {
	margin: -10px;
}

.gutter-grid-sm > [class^="w-"] {
	padding: 10px;
}

.grid-content-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.slider {
	width: 100%;
	display: block;
	overflow: hidden;
	white-space: nowrap;
}

.slider > * {
	-webkit-transition: ease 0.5s;
	transition: ease 0.5s;
}

.w-1-12, .w-2-12, .w-3-12, .w-4-12, .w-5-12, .w-6-12, .w-7-12, .w-8-12, .w-9-12, .w-10-12, .w-11-12, .w-12-12 {
	display: inline-block;
	*display: inline;
	zoom: 1;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}

.w-1-12 {
	width: 8.3333%;
	*width: 8.3023%;
}

.w-2-12 {
	width: 16.6667%;
	*width: 16.6357%;
}

.w-3-12 {
	width: 25%;
	*width: 24.9690%;
}

.w-4-12 {
	width: 33.3333%;
	*width: 33.3023%;
}

.w-5-12 {
	width: 41.6667%;
	*width: 41.6357%;
}

.w-6-12 {
	width: 50%;
	*width: 49.9690%;
}

.w-7-12 {
	width: 58.3333%;
	*width: 58.3023%;
}

.w-8-12 {
	width: 66.6667%;
	*width: 66.6357%;
}

.w-9-12 {
	width: 75%;
	*width: 74.9690%;
}

.w-10-12 {
	width: 83.3333%;
	*width: 83.3023%;
}

.w-11-12 {
	width: 91.6667%;
	*width: 91.6357%;
}

.w-12-12 {
	width: 100%;
}

@media screen and (min-width: 35.5em) {

	.w-sm-1-12, .w-sm-2-12, .w-sm-3-12, .w-sm-4-12, .w-sm-5-12, .w-sm-6-12, .w-sm-7-12, .w-sm-8-12, .w-sm-9-12, .w-sm-10-12, .w-sm-11-12, .w-sm-12-12 {
		display: inline-block;
		*display: inline;
		zoom: 1;
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
		text-rendering: auto;
	}

	.w-sm-1-12 {
		width: 8.3333%;
		*width: 8.3023%;
	}

	.w-sm-2-12 {
		width: 16.6667%;
		*width: 16.6357%;
	}

	.w-sm-3-12 {
		width: 25%;
		*width: 24.9690%;
	}

	.w-sm-4-12 {
		width: 33.3333%;
		*width: 33.3023%;
	}

	.w-sm-5-12 {
		width: 41.6667%;
		*width: 41.6357%;
	}

	.w-sm-6-12 {
		width: 50%;
		*width: 49.9690%;
	}

	.w-sm-7-12 {
		width: 58.3333%;
		*width: 58.3023%;
	}

	.w-sm-8-12 {
		width: 66.6667%;
		*width: 66.6357%;
	}

	.w-sm-9-12 {
		width: 75%;
		*width: 74.9690%;
	}

	.w-sm-10-12 {
		width: 83.3333%;
		*width: 83.3023%;
	}

	.w-sm-11-12 {
		width: 91.6667%;
		*width: 91.6357%;
	}

	.w-sm-12-12 {
		width: 100%;
	}
}

@media screen and (min-width: 48em) {

	.w-md-1-12, .w-md-2-12, .w-md-3-12, .w-md-4-12, .w-md-5-12, .w-md-6-12, .w-md-7-12, .w-md-8-12, .w-md-9-12, .w-md-10-12, .w-md-11-12, .w-md-12-12 {
		display: inline-block;
		*display: inline;
		zoom: 1;
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
		text-rendering: auto;
	}

	.w-md-1-12 {
		width: 8.3333%;
		*width: 8.3023%;
	}

	.w-md-2-12 {
		width: 16.6667%;
		*width: 16.6357%;
	}

	.w-md-3-12 {
		width: 25%;
		*width: 24.9690%;
	}

	.w-md-4-12 {
		width: 33.3333%;
		*width: 33.3023%;
	}

	.w-md-5-12 {
		width: 41.6667%;
		*width: 41.6357%;
	}

	.w-md-6-12 {
		width: 50%;
		*width: 49.9690%;
	}

	.w-md-7-12 {
		width: 58.3333%;
		*width: 58.3023%;
	}

	.w-md-8-12 {
		width: 66.6667%;
		*width: 66.6357%;
	}

	.w-md-9-12 {
		width: 75%;
		*width: 74.9690%;
	}

	.w-md-10-12 {
		width: 83.3333%;
		*width: 83.3023%;
	}

	.w-md-11-12 {
		width: 91.6667%;
		*width: 91.6357%;
	}

	.w-md-12-12 {
		width: 100%;
	}
}

@media screen and (min-width: 64em) {

	.w-lg-1-12, .w-lg-2-12, .w-lg-3-12, .w-lg-4-12, .w-lg-5-12, .w-lg-6-12, .w-lg-7-12, .w-lg-8-12, .w-lg-9-12, .w-lg-10-12, .w-lg-11-12, .w-lg-12-12 {
		display: inline-block;
		*display: inline;
		zoom: 1;
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
		text-rendering: auto;
	}

	.w-lg-1-12 {
		width: 8.3333%;
		*width: 8.3023%;
	}

	.w-lg-2-12 {
		width: 16.6667%;
		*width: 16.6357%;
	}

	.w-lg-3-12 {
		width: 25%;
		*width: 24.9690%;
	}

	.w-lg-4-12 {
		width: 33.3333%;
		*width: 33.3023%;
	}

	.w-lg-5-12 {
		width: 41.6667%;
		*width: 41.6357%;
	}

	.w-lg-6-12 {
		width: 50%;
		*width: 49.9690%;
	}

	.w-lg-7-12 {
		width: 58.3333%;
		*width: 58.3023%;
	}

	.w-lg-8-12 {
		width: 66.6667%;
		*width: 66.6357%;
	}

	.w-lg-9-12 {
		width: 75%;
		*width: 74.9690%;
	}

	.w-lg-10-12 {
		width: 83.3333%;
		*width: 83.3023%;
	}

	.w-lg-11-12 {
		width: 91.6667%;
		*width: 91.6357%;
	}

	.w-lg-12-12 {
		width: 100%;
	}
}

@media screen and (min-width: 80em) {

	.w-xl-1-12, .w-xl-2-12, .w-xl-3-12, .w-xl-4-12, .w-xl-5-12, .w-xl-6-12, .w-xl-7-12, .w-xl-8-12, .w-xl-9-12, .w-xl-10-12, .w-xl-11-12, .w-xl-12-12 {
		display: inline-block;
		*display: inline;
		zoom: 1;
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
		text-rendering: auto;
	}

	.w-xl-1-12 {
		width: 8.3333%;
		*width: 8.3023%;
	}

	.w-xl-2-12 {
		width: 16.6667%;
		*width: 16.6357%;
	}

	.w-xl-3-12 {
		width: 25%;
		*width: 24.9690%;
	}

	.w-xl-4-12 {
		width: 33.3333%;
		*width: 33.3023%;
	}

	.w-xl-5-12 {
		width: 41.6667%;
		*width: 41.6357%;
	}

	.w-xl-6-12 {
		width: 50%;
		*width: 49.9690%;
	}

	.w-xl-7-12 {
		width: 58.3333%;
		*width: 58.3023%;
	}

	.w-xl-8-12 {
		width: 66.6667%;
		*width: 66.6357%;
	}

	.w-xl-9-12 {
		width: 75%;
		*width: 74.9690%;
	}

	.w-xl-10-12 {
		width: 83.3333%;
		*width: 83.3023%;
	}

	.w-xl-11-12 {
		width: 91.6667%;
		*width: 91.6357%;
	}

	.w-xl-12-12 {
		width: 100%;
	}
}
