$color-primary: #496CEF;
$color-primary-light: #5B7AF0;
$color-primary-dark: #4160D6;

$color-black: #000;
$color-wolf: #14141C;
$color-graphite: #4D4D4D;
$color-midnight: #4B4B55;
$color-smoke: #7E7A82;
$color-steel: #AFAFB5;
$color-cloud: #D1CDD5;
$color-goose: #D8D8D8;
$color-silver: #EBEDF0;
$color-washed: #F0F0F3;
$color-white: #FFF;

$color-semi-transparent: rgba(0, 0, 0, 0.5);
$color-transparent: transparent;

$color-facebook: #3b5998;
$color-twitter: #4099ff;
$color-pinterest: #c92228;
$color-whatsapp: #25D366;

$color-blue: #008EFF;
$color-red: #FC374B;
$color-gold: #FF9735;
$color-yello: #FFE313;
$color-green: #4BBF43;
